<div role="tabpanel">
  <%= link_to 'Print PDF', inventory_download_path, class: 'btn btn-primary pull-right' %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="mothers">
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Strain</th>
        </tr>

        <% mothers.each do |mother| %>
          <tr>
            <td><%= mother.try(:to_s) if mother.present? %></td>
            <td><%= strain_for mother.try(:strain) if mother.present? %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>