<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-6">
        <%= render 'shared/box_description', title: jar, described: jar, color: 'danger', icon: 'flask' %>
      </div>
    
      <div class="col-lg-6">
        <%= jar.try(:lot) ? (render 'shared/box_description', title: jar.try(:lot), described: jar.try(:lot), color: 'info', icon: 'tags') : nil %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= render 'shared/box_history', described: jar %>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <%= render 'shared/timeline', described: jar %>
  </div>
</div>