<div class="row">
	<div class="col-lg-3 col-xs-6">
	    <!-- small box -->
	    <div class="small-box bg-aqua">
	        <div class="inner">
	            <h3>
	                150
	            </h3>
	            <p>
	                New Orders
	            </p>
	        </div>
	        <div class="icon">
	            <i class="ion ion-bag"></i>
	        </div>
	        <a href="#" class="small-box-footer">
	            More info <i class="fa fa-arrow-circle-right"></i>
	        </a>
	    </div>
	</div>
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-blue">
            <div class="inner">
                <h3>
                    230
                </h3>
                <p>
                    Stats
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
	</div>	
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-teal">
            <div class="inner">
                <h3>
                    15
                </h3>
                <p>
                    Lots
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-pricetag-outline"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
		<div class="small-box bg-red">
            <div class="inner">
                <h3>
                    160
                </h3>
                <p>
                    Lorem Ipsum
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-flask"></i>
            </div>
            <a href="#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-lg-6">
		<ul class="timeline">

    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-blue">
            10 Feb. 2014
        </span>
    </li>
    <!-- /.timeline-label -->

    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-leaf bg-green"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
            <h3 class="timeline-header"><a href="#">New Lot</a> </h3>
            <div class="timeline-body">
                <a class="btn btn-primary btn-xs">Lot#001</a> has been created from <a class="btn btn-success btn-xs">Plant#001</a> and <a class="btn btn-success btn-xs">Plant#002</a>.
            </div>
            <div class="timeline-footer">
            Done by User
            </div>
        </div>

        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:15</span>
            <h3 class="timeline-header"><a href="#">New Lot</a> </h3>
            <div class="timeline-body">
                <a class="btn btn-primary btn-xs">Lot#002</a> has been created from <a class="btn btn-success btn-xs">Plant 003</a> and <a class="btn btn-success btn-xs">Plant 004</a>.
            </div>
            <div class="timeline-footer">
            Done by User
            </div>            
        </div>

        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:23</span>
            <h3 class="timeline-header"><a href="#">New Bag</a> </h3>
            <div class="timeline-body">
                <a class="btn btn-warning btn-xs">Bag#001</a> has been created from <a class="btn btn-primary btn-xs">Lot#001</a>.
            </div>
            <div class="timeline-footer">
            Done by User
            </div>
        </div>

        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:33</span>
            <h3 class="timeline-header"><a href="#">Plant Status Changed</a> </h3>
            <div class="timeline-body">
                <a class="btn btn-success btn-xs">Plant#001</a> status changed to <a class="btn btn-warning btn-xs">Drying</a>.
            </div>
            <div class="timeline-footer">
            Done by User
            </div>
        </div>

        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:53</span>
            <h3 class="timeline-header"><a href="#">Plant Status Changed</a> </h3>
            <div class="timeline-body">
                <a class="btn btn-success btn-xs">Plant#001</a> status changed to <a class="btn btn-success btn-xs">Ready to harvest</a>.
            </div>
            <div class="timeline-footer">
            Done by User
            </div>
        </div>
       
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:53</span>
            <h3 class="timeline-header"><a href="#">Plant Status Changed</a> </h3>
            <div class="timeline-body">
                <a class="btn btn-success btn-xs">Plant#003</a> status changed to <a class="btn btn-danger btn-xs">Destroyed</a>.
            </div>
            <div class="timeline-footer">
            Done by User
            </div>
        </div>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:53</span>
            <h3 class="timeline-header"><a href="#">Plant Status Changed</a> </h3>
            <div class="timeline-body">
                <a class="btn btn-success btn-xs">Plant#005</a> status changed to <a class="btn btn-success btn-xs">Ready to harvest</a>.
            </div>
            <div class="timeline-footer">
            Done by User
            </div>
        </div>
    </li>
    <!-- END timeline item -->
</ul>

</div>
	<div class="col-lg-6">
		<div class="box box-solid box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Note from User</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-info btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-info btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    Box class: <code>.box.box-solid.box-info</code>
                                    <p>
                                        amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                                        berliner weisse wort chiller adjunct hydrometer alcohol aau!
                                        sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
                                    </p>
                                </div><!-- /.box-body -->
                            </div>
<div class="box box-solid box-warning">
                                <div class="box-header">
                                    <h3 class="box-title">Info Solid Box</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-warning btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-warning btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    Box class: <code>.box.box-solid.box-info</code>
                                    <p>
                                        amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                                        berliner weisse wort chiller adjunct hydrometer alcohol aau!
                                        sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
                                    </p>
                                </div><!-- /.box-body -->
                            </div>
<div class="box box-solid box-danger">
        <div class="box-header">
            <h3 class="box-title">Info Solid Box</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-danger btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-danger btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            Box class: <code>.box.box-solid.box-info</code>
            <p>
                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
        </div><!-- /.box-body -->
    </div>
    <div class="box box-solid box-success">
        <div class="box-header">
            <h3 class="box-title">Info Solid Box</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-success btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            Box class: <code>.box.box-solid.box-info</code>
            <p>
                amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
                berliner weisse wort chiller adjunct hydrometer alcohol aau!
                sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
            </p>
        </div><!-- /.box-body -->
    </div>
	</div>
</div>