/* iCheck plugin Flat skin
----------------------------------- */
/* line 5, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat,
.iradio_flat {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/flat.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 18, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat {
  background-position: 0 0;
}

/* line 21, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat.checked {
  background-position: -22px 0;
}

/* line 24, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 28, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat.checked.disabled {
  background-position: -66px 0;
}

/* line 32, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat {
  background-position: -88px 0;
}

/* line 35, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat.checked {
  background-position: -110px 0;
}

/* line 38, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 42, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 49, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
  .icheckbox_flat,
  .iradio_flat {
    background-image: url(/assets/icheck/flat/flat@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
/* red */
/* line 58, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-red,
.iradio_flat-red {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/red.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 71, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-red {
  background-position: 0 0;
}

/* line 74, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-red.checked {
  background-position: -22px 0;
}

/* line 77, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-red.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 81, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-red.checked.disabled {
  background-position: -66px 0;
}

/* line 85, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-red {
  background-position: -88px 0;
}

/* line 88, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-red.checked {
  background-position: -110px 0;
}

/* line 91, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-red.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 95, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-red.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 102, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
  .icheckbox_flat-red,
  .iradio_flat-red {
    background-image: url(/assets/icheck/flat/red@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
/* green */
/* line 111, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-green,
.iradio_flat-green {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/green.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 124, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-green {
  background-position: 0 0;
}

/* line 127, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-green.checked {
  background-position: -22px 0;
}

/* line 130, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-green.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 134, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-green.checked.disabled {
  background-position: -66px 0;
}

/* line 138, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-green {
  background-position: -88px 0;
}

/* line 141, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-green.checked {
  background-position: -110px 0;
}

/* line 144, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-green.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 148, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-green.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 155, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
  .icheckbox_flat-green,
  .iradio_flat-green {
    background-image: url(/assets/icheck/flat/green@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
/* blue */
/* line 164, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-blue,
.iradio_flat-blue {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/blue.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 177, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-blue {
  background-position: 0 0;
}

/* line 180, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-blue.checked {
  background-position: -22px 0;
}

/* line 183, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-blue.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 187, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-blue.checked.disabled {
  background-position: -66px 0;
}

/* line 191, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-blue {
  background-position: -88px 0;
}

/* line 194, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-blue.checked {
  background-position: -110px 0;
}

/* line 197, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-blue.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 201, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-blue.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 208, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
  .icheckbox_flat-blue,
  .iradio_flat-blue {
    background-image: url(/assets/icheck/flat/blue@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
/* aero */
/* line 217, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-aero,
.iradio_flat-aero {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/aero.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 230, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-aero {
  background-position: 0 0;
}

/* line 233, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-aero.checked {
  background-position: -22px 0;
}

/* line 236, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-aero.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 240, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-aero.checked.disabled {
  background-position: -66px 0;
}

/* line 244, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-aero {
  background-position: -88px 0;
}

/* line 247, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-aero.checked {
  background-position: -110px 0;
}

/* line 250, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-aero.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 254, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-aero.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 261, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
  .icheckbox_flat-aero,
  .iradio_flat-aero {
    background-image: url(/assets/icheck/flat/aero@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
/* grey */
/* line 270, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-grey,
.iradio_flat-grey {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/grey.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 283, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-grey {
  background-position: 0 0;
}

/* line 286, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-grey.checked {
  background-position: -22px 0;
}

/* line 289, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-grey.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 293, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-grey.checked.disabled {
  background-position: -66px 0;
}

/* line 297, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-grey {
  background-position: -88px 0;
}

/* line 300, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-grey.checked {
  background-position: -110px 0;
}

/* line 303, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-grey.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 307, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-grey.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 314, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
  .icheckbox_flat-grey,
  .iradio_flat-grey {
    background-image: url(/assets/icheck/flat/grey@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
/* orange */
/* line 323, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-orange,
.iradio_flat-orange {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/orange.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 336, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-orange {
  background-position: 0 0;
}

/* line 339, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-orange.checked {
  background-position: -22px 0;
}

/* line 342, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-orange.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 346, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-orange.checked.disabled {
  background-position: -66px 0;
}

/* line 350, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-orange {
  background-position: -88px 0;
}

/* line 353, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-orange.checked {
  background-position: -110px 0;
}

/* line 356, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-orange.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 360, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-orange.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 367, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
  .icheckbox_flat-orange,
  .iradio_flat-orange {
    background-image: url(/assets/icheck/flat/orange@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
/* yellow */
/* line 376, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-yellow,
.iradio_flat-yellow {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/yellow.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 389, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-yellow {
  background-position: 0 0;
}

/* line 392, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-yellow.checked {
  background-position: -22px 0;
}

/* line 395, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-yellow.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 399, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-yellow.checked.disabled {
  background-position: -66px 0;
}

/* line 403, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-yellow {
  background-position: -88px 0;
}

/* line 406, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-yellow.checked {
  background-position: -110px 0;
}

/* line 409, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-yellow.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 413, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-yellow.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 420, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
  .icheckbox_flat-yellow,
  .iradio_flat-yellow {
    background-image: url(/assets/icheck/flat/yellow@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
/* pink */
/* line 429, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-pink,
.iradio_flat-pink {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/pink.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 442, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-pink {
  background-position: 0 0;
}

/* line 445, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-pink.checked {
  background-position: -22px 0;
}

/* line 448, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-pink.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 452, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-pink.checked.disabled {
  background-position: -66px 0;
}

/* line 456, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-pink {
  background-position: -88px 0;
}

/* line 459, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-pink.checked {
  background-position: -110px 0;
}

/* line 462, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-pink.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 466, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-pink.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 473, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
  .icheckbox_flat-pink,
  .iradio_flat-pink {
    background-image: url(/assets/icheck/flat/pink@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
/* purple */
/* line 482, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-purple,
.iradio_flat-purple {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/assets/icheck/flat/purple.png) no-repeat;
  border: none;
  cursor: pointer;
}

/* line 495, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-purple {
  background-position: 0 0;
}

/* line 498, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-purple.checked {
  background-position: -22px 0;
}

/* line 501, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-purple.disabled {
  background-position: -44px 0;
  cursor: default;
}

/* line 505, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.icheckbox_flat-purple.checked.disabled {
  background-position: -66px 0;
}

/* line 509, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-purple {
  background-position: -88px 0;
}

/* line 512, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-purple.checked {
  background-position: -110px 0;
}

/* line 515, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-purple.disabled {
  background-position: -132px 0;
  cursor: default;
}

/* line 519, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
.iradio_flat-purple.checked.disabled {
  background-position: -154px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* line 526, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/icheck-rails-1.0.2.1/vendor/assets/stylesheets/iCheck/flat/_all.css.scss */
  .icheckbox_flat-purple,
  .iradio_flat-purple {
    background-image: url(/assets/icheck/flat/purple@2x.png);
    -webkit-background-size: 176px 22px;
    background-size: 176px 22px;
  }
}
