<div class="box box-solid box-success">
  <div class="box-header">
    <i class="fa fa-leaf"></i>
    <h3 class="box-title">Timeline</h3>
  </div>

  <div class="box-body">
    <table id="timeline" class="table table-hover">

      <tr>
        <th class="col-md-2">Event</th>
        <th class="col-md-3">Target</th>
        <th class="col-md-1"></th>
        <th class="col-md-2">Weight</th>
        <th class="col-md-1"></th>
        <th class="col-md-3">Source</th>
      </tr>

      <%= render 'shared/timeline/lot', lot: container.lot unless container.lot.nil? %>
      <%= render 'shared/timeline/container' %>
      <%= render 'shared/timeline/bags', bags: container.bags unless container.bags.nil? %>
      <%= render 'shared/timeline/jars', jars: container.jars unless container.jars.nil? %>
      
    </table>
  </div>
</div>
