<div class="modal fade new-bag" tabindex="-1" role="dialog" aria-labelledby="New Bag" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h3>Create a new bag</h3>
      <%= render 'bags/form' %>
    </div>
  </div>
</div>