<div class="box box-solid box-success">
  <div class="box-header">
    <i class="fa fa-leaf"></i>
    <h3 class="box-title">Timeline</h3>
  </div>
  
  <div class="box-body">
    <table id="timeline" class="table table-hover">

      <tr>
        <th class="col-md-2">Event</th>
        <th class="col-md-3">Target</th>
        <th class="col-md-1"></th>
        <th class="col-md-2">Weight</th>
        <th class="col-md-1"></th>
        <th class="col-md-3">Source</th>
      </tr>
      
      <%= render 'shared/timeline/lot', lot: jar.lot unless jar.lot.nil? %>
      <%= render 'shared/timeline/container', container: jar.container unless jar.container.nil? %>
      <%= render 'shared/timeline/bag', bag: jar.bag unless jar.bag.nil? %>
      <%= render 'shared/timeline/jar', jar: jar %>

    </table>
  </div>
</div>