<div class="modal fade new-plant" tabindex="-1" role="dialog" aria-labelledby="New Plant" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h3>Create a new plant</h3>
      <%= render 'plants/form' %>
    </div>
  </div>
</div>