<div class="box box-solid box-<%= color %>">
  <div class="box-header">
    <%= fa_icon icon %>
    <h3 class="box-title"><%= title %></h3>
  </div>

  <div class="box-body object-enum">
    <% ordered_by_id(origins).each_slice(6) do |slice| %>
      <div class="row">
        <% slice.each do |origin| %>
          <div class="col-md-2">
            <%= link_to origin, origin, class: "btn-xs btn-flat btn-#{color}", style: 'text-align: justify;' %>
          </div>
        <% end %>
      </div>
    <% end %>    
  </div>
</div>
