<div class="box box-solid box-success">
  <div class="box-header">
    <i class="fa fa-leaf"></i>
    <h3 class="box-title">Timeline</h3>
  </div>
  
  <div class="box-body">
    <table id="timeline" class="table table-hover tablesorter text-center">
      <thead>
        <tr>
          <th class="col-md-3">Event</th>
          <th class="col-md-3">Object</th>
          <th class="col-md-3">Debit (g)</th>
          <th class="col-md-3">Credit (g)</th>
        </tr>
      </thead>

      <tbody>
        <% described.transactions.each do |transaction| %>
          <%= render 'shared/timeline/transaction', transaction: transaction %>
        <% end %>
      </tbody>
      
    </table>
  </div>
</div>