<div class="row">
  <%= render 'shared/box_description', title: container, described: container, color: 'warning', icon: 'square' %>
  <%= render 'shared/box_description', title: container.lot, described: container.lot, color: 'info', icon: 'tags' %>
</div>

<%= render 'containers/show/history' %>