<h4><%= container %></h4>

<div class="row">
  <%= render 'shared/box_description', title: 'Description', described: container, color: 'warning' %>
  <%= render 'shared/box_description', title: 'Origin', described: container.try(:plant), color: 'info' %>
</div>

<%= render 'containers/show/history' %>