<tr>
  <td>
    <%= date_for lot.created_at %>
  </td>

  <td>
    <%= link_to "#{lot}", lot, class: "btn-sm btn-flat btn-info" %>
  </td>
  
  <td>
    <%= weight_for lot.initial_weight %>
  </td>

  <td>
    <% lot.plants.each_slice(4) do |slice| %>
      <% slice.each do |plant| %>
        <%= link_to plant.id, plant, class: "btn-sm btn-flat btn-success" %>
      <% end %>
    <% end %>
  </td>
</tr>