<div class="row">
  <%= render 'shared/box_description', title: bag, described: bag, color: 'warning', icon: 'tag' %>
  <%= render 'shared/box_description', title: bag.try(:lot), described: bag.try(:lot), color: 'info', icon: 'tags'%>

</div>

<%= render 'bags/show/history' %>