<div class="row">
  <div class="col-md-6">
  	<div class="row">
  	  <div class="col-md-6">
    		<%= render 'shared/box_description', title: bag, described: bag, color: 'warning', icon: 'tag' %>
 	    </div>

   	  <div class="col-md-6">
  		  <%= render 'shared/box_description', title: bag.try(:lot), described: bag.try(:lot), color: 'info', icon: 'tags'%>
      </div>
   	</div>

   	<div class="row">
   	  <div class="col-md-12">
  	    <%= render 'shared/box_history', described: bag %>
  	  </div>
  	</div>
  </div>
  
  <div class="col-md-6">
    <%= render 'shared/timeline', described: bag %>
  </div>
</div>