<div class="input-group">
  <%= form_tag(bags_path, :method => "get", id: "search-form", remote: true, autocomplete: 'off') do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control input-sm pull-right" %>
  <% end %>
  <div class="input-group-btn">
    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
  </div>
</div>
<div id="ajax-content" class="row">
  <%= render 'bags/ajax/object_content' %>
</div>