<%= form_for(order) do |f| %>

  <div class="form-group">
    <%= f.label :customer %><br>
    <%= f.text_field :customer, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit, class: 'btn btn-primary' %>
  </div>

<% end %>
