<div class="input-group">
  <%= link_to 'Fulfillment List', '#', class: 'btn-sm btn-flat btn-primary',
      data: { toggle: 'modal', target: '#fulfillment-list'} %>
</div>

<div class="box box-solid">
  <%= render 'shared/box_header', described: :orders %>
  <%= render 'shared/box_table', described: :orders %>
</div>

<div class="tableFooter"></div>

<%= render 'fulfillment_list' %>