<div class="row">
  <div class="col-md-6">
  	<div class="row">
  	  <div class="col-md-6">
    		<%= render 'shared/box_description', title: seed, described: seed, color: 'warning', icon: 'circle' %>
 	    </div>

   	  <div class="col-md-6">
  		  <%= render 'shared/box_description', title: recent, described: recent, color: 'info', icon: 'tags'%>
      </div>
   	</div>

   	<div class="row">
   	  <div class="col-md-12">
  	    <%= render 'shared/box_history', described: seed %>
  	  </div>
  	</div>
  </div>
  
  <div class="col-md-6">
    <%#= render 'seeds/show/timeline' %>
  </div>
</div>