  <div class="box">
    <div class="box-header">
        <h3 class="box-title">Responsive Hover Table</h3>
        <div class="box-tools">
            <div class="input-group">
                <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tr>
                <th>Cultivar</th>
                <th>ID</th>
                <th>Format</th>
                <th>Status</th>
                <th>RFID</th>
                <th>Origine</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>BB</td>
                <td>001</td>
                <td>60G</td>
                <td><span class="label label-success">Croissance</span></td>
                <td>########</td>
                <td>Bouture</td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-success btn-flat">Action</button>
                    <button type="button" class="btn btn-success btn-flat dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"></a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                </td>
            </tr>
            <tr>
                <td>BB</td>
                <td>002</td>
                <td>60G</td>
                <td><span class="label label-primary">Détruit</span></td>
                <td>########</td>
                <td>Bouture</td>
                <td></td>
            </tr>
            <tr>
                <td>BB</td>
                <td>003</td>
                <td>60G</td>
                <td><span class="label label-warning">Séchage</span></td>
                <td>########</td>
                <td>Bouture</td>
            </tr>
            <tr>
                <td>BB</td>
                <td>004</td>
                <td>60G</td>
                <td><span class="label label-warning">"Curing"</span></td>
                <td>########</td>
                <td>Bouture</td>
            </tr>          
            <tr>
                <td>YO</td>
                <td>005</td>
                <td>60G</td>
                <td><span class="label label-success">Récolte</span></td>
                <td>########</td>
                <td>Bouture</td>
            </tr>
            <tr>
                <td>YO</td>
                <td>006</td>
                <td>60G</td>
                <td><span class="label label-danger">Anomalie</span></td>
                <td>########</td>
                <td>Bouture</td>
            </tr>
        </table>
    </div><!-- /.box-body -->
</div>
<h1>Listing plants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% plants.each do |plant| %>
      <tr>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>
