
<div class="row">
  <%= render 'shared/box_description', title: plant, described: plant, color: 'warning', icon: 'leaf' %>
  <%= render 'shared/box_description', title: plant.try(:lot), described: plant.try(:lot), color: 'info', icon: 'tags' %>
</div>
 	
