<div class="modal fade new-bin" tabindex="-1" role="dialog" aria-labelledby="New Bin" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h3>Create a new bin</h3>
      <%= render 'bins/form' %>
    </div>
  </div>
</div>