<table class="table table-bordered">
  <tr>
    <th class="col-md-3">ID</th>
    <th class="col-md-3">Strain</th>
    <th class="col-md-3">Status</th>
    <th class="col-md-3">Format</th>
  </tr>

  <% plants.each do |plant| %>
    <tr>
      <td><%= plant %></td>
      <td><%= plant.strain %></td>
      <td><%= plant.status %></td>
      <td><%= plant.format %></td>
    </tr>
  <% end %>
</table>