<table class="table table-striped">
  <tr>
    <th>Bags</th>
    <th></th>
  </tr>

  <tr>
    <td>Total Weight Per Strain (g)</td>
    <td><%= number_with_precision Bag.total_weight_per_strain, precision: 2 %></td>
  </tr>

  <tr>
    <td>Total Weight (g)</td>
    <td><%= number_with_precision Bag.total_weight, precision: 2 %></td>
  </tr>
</table>