<table class="table table-striped">
  <tr>
    <th class="col-md-10">Jars</th>
    <th class="col-md-2">Weight (g)</th>
  </tr>

  <tr>
    <td><em>Total Weight Per Strain</em></td>
    <td></td>
  </tr>
  <% Strain.pluck(:name).each do |strain| %>
  <tr>
    <td><%= strain %></td>
    <td><%# number_with_precision Jar.total_weight_per_strain(strain), precision: 2 %></td>
  </tr>
  <% end %>

  <tr>
    <td><strong>Total</strong></td>
    <td><%= number_with_precision Jar.total_weight, precision: 2 %></td>
  </tr>
</table>