<table class="table table-striped">
  <tr>
    <th class="col-md-10">Jars</th>
    <th class="col-md-2"></th>
  </tr>

  <tr>
    <td>Total Weight Per Strain (g)</td>
    <td><%= number_with_precision Jar.total_weight_per_strain, precision: 2 %></td>
  </tr>

  <tr>
    <td>Total Weight (g)</td>
    <td><%= number_with_precision Jar.total_weight, precision: 2 %></td>
  </tr>
</table>