<form id="scale-display">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="input-group">
          <%= label_tag 'scale-1-reading', class: 'input-group-addon' do %>
            <strong>Scale 1 Reading</strong>
          <% end %>
          
          <span id="scale-1-reading" class="form-control text-center"></span>
          
          <div class="input-group-btn">
            <%= link_to '#', class: 'btn btn-primary', id: 'zero-scale-1-btn' do %>
              <strong>ZERO</strong>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>