<div class="row" style="height: 200px;">
  <div id="scanner" class="col-md-6" style="height: 100%;">
    <%= render 'shared/scan', message: "Please scan bag...", scannable: 'Bag', height: "100%" %>
  </div>

  <div id="scannable" class="col-md-6" style="display: none;">
    <%= render 'shared/box_description', described: nil, color: 'primary', icon: 'tag', title: 'Scannable' %>
  </div>

  <div class="col-md-6" style="height: 100%;">
    <div class="panel panel-danger" style="height: 100%;">
      <div class="panel-heading">
        <h3 class="no-margin no-padding">Current Bags in Lot</h3>
      </div>

      <div class="panel-body">
        <ul style="list-style-type: none; padding-left: 0;">
          <% bags.each do |bag| %>
            <li class="col-md-3"><%= link_to bag, bag %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div id="relot-step-1" class="col-md-6" style="padding-top: 30px; display: none;">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="no-margin no-padding">Relot</h3>
      </div>

      <div class="panel-body">
        <div class="alert alert-info">
          Please put bag on scale
        </div>

        <div class="form-group">
          

          <div class=""></div>
        </div>
      </div>
    </div>
  </div>
</div>