<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-6">
        <%= render 'shared/box_description', title: lot, described: lot, color: 'info', icon: 'tags' %>
      </div>
      
      <div class="col-lg-6">
        <%= render 'shared/box_description', title: recent, described: recent, color: 'primary', icon: 'square' %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12">
        <%= render 'shared/box_history', described: lot %>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <%= render 'shared/timeline', described: lot %>
  </div>
</div>
