<table class="table table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Type</th>
    <th>Initial Weight (g)</th>
    <th>Current Weight (g)</th>
  </tr>

  <% bags.each do |bag| %>
    <tr>
      <td></td>
      <td><%= bag %></td>
      <td><%= bag.class %></td>
      <td><%= bag.initial_weight %></td>
      <td><%= bag.current_weight %></td>
    </tr>
  <% end %>
</table>