<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Strain</th>
  </tr>

  <% clones.each do |clone| %>
    <tr>
      <td><%= clone.try(:to_s) if clone.present? %></td>
      <td><%= strain_for clone.try(:strain) if clone.present? %></td>
    </tr>
  <% end %>
</table>