<table class="table table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Strain</th>
    <th></th>
    <th></th>
  </tr>

  <% plants.each do |plant| %>
    <tr>
      <td></td>
      <td><%= plant %></td>
      <td><%= plant.strain %></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>