<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Strain</th>
  </tr>

  <% plants.each do |plant| %>
    <tr>
      <td><%= plant.try(:to_s) if plant.present? %></td>
      <td><%= strain_for plant.try(:strain) if plant.present? %></td>
    </tr>
  <% end %>
</table>