<%= render 'inventory/summary/lots' %><br>

<%= render 'inventory/summary/bags' %><br>

<%= render 'inventory/summary/jars' %><br>

<table class="table table-striped">
  <tr>
    <th class="col-md-10">Grand Total</th>
    <th class="col-md-2"><%= number_with_precision(total_weight, precision: 2) %> g</th>
  </tr>
</table>