<table class="table table-striped">
  <tr>
    <th>Name :</th>
    <th></th>
  </tr>

  <% inventory_lines.each do |line| %>
    <tr>
      <td><%= line.name %></td>
      <td></td>
    </tr>
  <% end %>
</table>