<table class="table table-striped">
  <tr>
    <th>Name :</th>
    <th>Weight :</th>
  </tr>

  <% inventory_lines.each do |line| %>
    <tr>
      <td><%= line %></td>
      <td><%= line.weight unless line.kind_of? Plant || line.weight.nil?  %></td>
    </tr>
  <% end %>
</table>