<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>PLANT-1</td>
      <td></td>
      <td>10.0 g</td>
    </tr>

    <tr>
      <td>BAG-1</td>
      <td></td>
      <td>10.0 g</td>
    </tr>

    <tr>
      <td>JAR-1</td>
      <td></td>
      <td>10.0 g</td>
    </tr>
  </tbody>

  <tfoot>
  </tfoot>
</table>
