// Application CSS

// Assets

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";
@import "ionicons";

@import "AdminLTE";

// Local files

@import "bags";
@import "containers";
@import "dashboard";
@import "inventory";
@import "jars";
@import "layout";
@import "lots";
@import "plants";
@import "root";
@import "users";

#timeline > tbody > tr > td {
	vertical-align: middle;
}

#timeline > tbody > tr > td:nth-child(4) > a {
    line-height: 250%;
}

.description {
	text-align:left;
	font-size:1 em;
}

.progress.vertical {
	height:220px;
	width: 30px;
	margin-top: 20px;
	margin-left:-15px;
}

.box .box-body {
	padding: 0;
}

#progress-bar-percentage {
	margin-left:-15px
}

div.box-default > div.box-header {
	background-color: #DDD;
}
