#logo {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn {
	cursor: pointer !important;
}

.btn-sm {
	cursor: pointer !important;
}

.modal-content {
	padding: 5% !important;
}