#logo {
  width: 60%;
  height: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.btn {
	cursor: pointer !important;
}

.btn-sm {
	cursor: pointer !important;
}

.modal-content {
	padding: 5% !important;
}

#timeline > tbody > tr > td {
  vertical-align: middle;
}

#timeline > tbody > tr > td:nth-child(4) > a  {
  line-height: 240%;
}

.location > tbody > tr > td:nth-child(3) > a  {
  line-height: 240%;
}

#bin-table > tbody > tr > td:nth-child(5) > a {
  line-height: 240%;
}

#loc-table > tbody > tr > td:nth-child(5) > a {
  line-height: 240%;
}

#seed-table > tbody > tr > td > a {
  line-height: 240%;
  white-space: nowrap ;
}

.description {
  text-align:left;
  font-size:1 em;
}

.progress.vertical {
  height:220px;
  width: 30px;
  margin-top: 20px;
  margin-left:-15px;
}

.box .box-body {
  padding: 0;
}

#progress-bar-percentage {
  margin-left:-15px
}

div.box-default > div.box-header {
  background-color: #DDD;
}

.context-menu {
  position: absolute;
  display:none;
}

.context-menu > ul > li > a.red-link:hover {
  background-color: #f56954;
  color: #fff;
}

.context-menu > ul > li > a.orange-link:hover {
  background-color: #ff851b;
  color: #fff;
}

.context-menu > ul > li > a.light-blue-link:hover {
  background-color: #3c8dbc;
  color: #fff;
}

.context-menu > ul > li > a.red-link {
  color: #f56954 
}

.context-menu > ul > li > a.orange-link {
  color: #ff851b 
}

.context-menu > ul > li > a.light-blue-link {
  color: #3c8dbc
}

.table-borderless td {
    border: none;
}