// Place all the styles related to the lots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.brand-1 {
    background: url('gm_logo_s.jpg');
    height: 100%;
    width: 100%;
}

.brand-2 {
    background: url('md_logo_s.jpg');
    height: 100%;
    width: 100%;
}

.brand-3 {
    background: url('after-dinner_logo_s.jpg');
    height: 100%;
    width: 100%;
}

.brand-4 {
    background: url('bt_logo_s.jpg');
    height: 100%;
    width: 100%;
}
.transparent-box {
	opacity: 0.95;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;

}

.transparent-box:hover{
	opacity: 1;
}