<div class="box box-solid box-success">
  <div class="box-header">
    <i class="fa fa-leaf"></i>
    <h3 class="box-title">Timeline</h3>
  </div>
  
  <div class="box-body">
    <table id="timeline" class="table table-hover">

      <tr>
        <th class="col-md-2">Event</th>
        <th class="col-md-3">Target</th>
        <th class="col-md-1"></th>
        <th class="col-md-2">Weight</th>
        <th class="col-md-1"></th>
        <th class="col-md-3">Source</th>
      </tr>

      <%= render 'shared/timeline/lot', lot: bag.lot unless bag.lot.nil? %>
      <%= render 'shared/timeline/container', container: bag.container unless bag.container.nil? %>
      <%= render 'shared/timeline/bag', bag: bag %>
      <%= render 'shared/timeline/jars', jars: bag.jars unless bag.jars.nil? %>
      
    </table>
  </div>
</div>