<div role="tabpanel">
  <%= link_to 'Print PDF', inventory_seeds_download_path, class: 'btn btn-primary pull-right' %>

  <%#= link_to 'Print Monthly Report', inventory_download_path, class: 'btn btn-primary pull-right'%>
  
  <%= render 'inventory/nav' %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="summary"></div>
    <div role="tabpanel" class="tab-pane" id="plants"></div>
    <div role="tabpanel" class="tab-pane" id="mothers"></div>
    <div role="tabpanel" class="tab-pane" id="clones"></div>
    <div role="tabpanel" class="tab-pane" id="jars"></div>
    <div role="tabpanel" class="tab-pane" id="lots"></div>
    <div role="tabpanel" class="tab-pane" id="containers"></div>
    <div role="tabpanel" class="tab-pane" id="bags"></div>
  </div>
</div>