<section class="content-header">
  <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
  </ol>
  
  <div class="container-fluid">
    <%= render partial: "shared/flash_messages", flash: flash %> 
  </div>
</section>