<!DOCTYPE html>
<html>
  <head>
    <title>THC-ICS LABEL</title>
    <style>
      html, body {
        width: 900px;
        height: 300px;

        margin: 0;
        padding: 0;
      }
    </style>
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>