<!DOCTYPE html>
<html>
  <head>
    <title>THC-ICS REPORT</title>
    <%= wicked_pdf_stylesheet_link_tag 'application' %>
    
    <script src="//code.jquery.com/jquery-2.1.3.min.js/"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <section id="report-header" class="col-md-10 col-md-offset-1" style="padding-top: 50px; padding-bottom: 50px;">
      <table class="table table-bordered">
        <tr>
          <th rowspan="2" class="col-md-3 text-center">
            <%= image_tag '//ics.thc.vc/logo-black.png', width: 80, height: 80 %><br>
            THC-ICS REPORT<br>
            <small>The Hydropothecary Corp.</small>
          </th>
          <th class="col-md-9 text-right">Date</th>
        </tr>

        <tr>
          <td class="text-right"><%= Time.now %></td>
        </tr>
      </table>
    </section>

    <section id="report-body" class="col-md-10 col-md-offset-1">
      <%= yield %>
    </section>
  </body>
</html>