<div class="modal fade new-jar" tabindex="-1" role="dialog" aria-labelledby="New Jar" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h3>Create a new jar</h3>
      <%= render 'jars/form', bag: bag %>
    </div>
  </div>
</div>